.card {
    border-radius: 20px !important;
}

.linkOrange {
    font-weight: bold;
    color: #93370d;
}

.form-control {
    border: 1.5px solid #e5e5e5;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(219, 226, 234, 0.25);
    border-radius: 10px;
}

.btn-1 {
    background-color: #fec84b;
    color: #93370d;
    box-shadow: 0px 4px 4px rgba(253, 176, 34, 0.25);
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
}
